body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1592px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1356_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1083px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1356 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1083px;
}
#u1357 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:534px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1358 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1359_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1152px;
  height:962px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1359 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:102px;
  width:1152px;
  height:962px;
}
#u1360 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:473px;
  width:1148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1361 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:102px;
  width:32px;
  height:48px;
  overflow:hidden;
}
#u1361_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:48px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1361_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1362 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:1017px;
  width:32px;
  height:48px;
  overflow:hidden;
}
#u1362_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:48px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1362_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1363 {
  border-width:0px;
  position:absolute;
  left:1264px;
  top:1017px;
  width:32px;
  height:48px;
  overflow:hidden;
}
#u1363_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:48px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1363_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1364 {
  border-width:0px;
  position:absolute;
  left:1264px;
  top:102px;
  width:32px;
  height:48px;
  overflow:hidden;
}
#u1364_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:48px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1364_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1365 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1366 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1367_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:80px;
  background:inherit;
  background-color:rgba(6, 25, 68, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(7, 29, 78, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1367 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:80px;
}
#u1368 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1369 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1370_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:80px;
  background:inherit;
  background-color:rgba(6, 25, 68, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u1370 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:0px;
  width:121px;
  height:80px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u1371 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:30px;
  width:65px;
  white-space:nowrap;
}
#u1372_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:80px;
  background:inherit;
  background-color:rgba(6, 25, 68, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u1372 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:0px;
  width:89px;
  height:80px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u1372_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:80px;
  background:inherit;
  background-color:rgba(6, 25, 68, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u1372.mouseOver {
}
#u1373 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:30px;
  width:33px;
  white-space:nowrap;
}
#u1374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:53px;
}
#u1374 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:14px;
  width:274px;
  height:53px;
}
#u1375 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:270px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1376 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1377 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1378_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:80px;
  background:inherit;
  background-color:rgba(6, 25, 68, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u1378 {
  border-width:0px;
  position:absolute;
  left:1314px;
  top:0px;
  width:64px;
  height:80px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u1379 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:60px;
  word-wrap:break-word;
}
#u1380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1380 {
  border-width:0px;
  position:absolute;
  left:1260px;
  top:20px;
  width:40px;
  height:40px;
}
#u1381 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1382_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:122px;
  background:inherit;
  background-color:rgba(6, 25, 68, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1382 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1083px;
  width:1440px;
  height:122px;
}
#u1383 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:53px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1384 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1385 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1386 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1387 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1388_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(204, 204, 204, 0.647058823529412);
  text-align:center;
  line-height:21px;
}
#u1388 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:1157px;
  width:265px;
  height:29px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(204, 204, 204, 0.647058823529412);
  text-align:center;
  line-height:21px;
}
#u1389 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:261px;
  word-wrap:break-word;
}
#u1390_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'anticon Bold', 'anticon';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:rgba(204, 204, 204, 0.647058823529412);
  text-align:center;
}
#u1390 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:1170px;
  width:15px;
  height:18px;
  font-family:'anticon Bold', 'anticon';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:rgba(204, 204, 204, 0.647058823529412);
  text-align:center;
}
#u1391 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u1392_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(204, 204, 204, 0.647058823529412);
  text-align:center;
  line-height:21px;
}
#u1392 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:1128px;
  width:265px;
  height:29px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(204, 204, 204, 0.647058823529412);
  text-align:center;
  line-height:21px;
}
#u1393 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:261px;
  word-wrap:break-word;
}
#u1394_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(204, 204, 204, 0.647058823529412);
  text-align:center;
  line-height:21px;
}
#u1394 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:1099px;
  width:265px;
  height:29px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(204, 204, 204, 0.647058823529412);
  text-align:center;
  line-height:21px;
}
#u1395 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:261px;
  word-wrap:break-word;
}
#u1396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u1396 {
  border-width:0px;
  position:absolute;
  left:1392px;
  top:110px;
  width:200px;
  height:100px;
  font-size:14px;
  color:#FF3399;
}
#u1397 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:196px;
  word-wrap:break-word;
}
#u1398 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:180px;
}
#u1399 {
  border-width:0px;
  position:absolute;
  left:1251px;
  top:70px;
  width:120px;
  height:180px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:right;
}
#u1400 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:82px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1401 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
}
#u1402 {
  border-width:0px;
  position:absolute;
  left:1251px;
  top:70px;
  width:120px;
  height:60px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:right;
}
#u1403 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:116px;
  word-wrap:break-word;
}
#u1404_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:60px;
  background:inherit;
  background-color:rgba(122, 183, 233, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(6, 25, 68, 1);
  border-left:0px;
  border-right:0px;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:right;
}
#u1404 {
  border-width:0px;
  position:absolute;
  left:1253px;
  top:130px;
  width:116px;
  height:60px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:right;
}
#u1405 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:112px;
  word-wrap:break-word;
}
#u1406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
}
#u1406 {
  border-width:0px;
  position:absolute;
  left:1251px;
  top:190px;
  width:120px;
  height:60px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:right;
}
#u1407 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:116px;
  word-wrap:break-word;
}
#u1408_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u1408 {
  border-width:0px;
  position:absolute;
  left:1259px;
  top:205px;
  width:28px;
  height:30px;
  font-family:'anticon Bold', 'anticon';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1409 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:28px;
  word-wrap:break-word;
}
#u1410_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'anticon Bold', 'anticon';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u1410 {
  border-width:0px;
  position:absolute;
  left:1259px;
  top:145px;
  width:28px;
  height:30px;
  font-family:'anticon Bold', 'anticon';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u1411 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:28px;
  word-wrap:break-word;
}
#u1412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
}
#u1412 {
  border-width:0px;
  position:absolute;
  left:1265px;
  top:79px;
  width:15px;
  height:19px;
  font-family:'anticon Bold', 'anticon';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1413 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u1414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u1414 {
  border-width:0px;
  position:absolute;
  left:1265px;
  top:104px;
  width:15px;
  height:17px;
  font-family:'anticon Bold', 'anticon';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1415 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:15px;
  word-wrap:break-word;
}
#u1416_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:80px;
  background:inherit;
  background-color:rgba(6, 25, 68, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.647058823529412);
}
#u1416 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:0px;
  width:121px;
  height:80px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.647058823529412);
}
#u1417 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:30px;
  width:65px;
  white-space:nowrap;
}
#u1418 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1419 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1420 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1421 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1422 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1423 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1424 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1425 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1426_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(16, 141, 233, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:24px;
}
#u1426 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:164px;
  width:232px;
  height:46px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:24px;
}
#u1427 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:192px;
  word-wrap:break-word;
}
#u1428 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1429 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1430_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:24px;
}
#u1430 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:390px;
  width:477px;
  height:53px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:24px;
}
#u1431 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:18px;
  width:441px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1432_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1432 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:446px;
  width:477px;
  height:20px;
  opacity:0;
  color:#FFFFFF;
}
#u1433 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:473px;
  word-wrap:break-word;
}
#u1434_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(16, 141, 233, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:18px;
}
#u1434 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:395px;
  width:113px;
  height:40px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:18px;
}
#u1435 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:73px;
  word-wrap:break-word;
}
#u1436 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1437 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1438_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(16, 141, 233, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:18px;
}
#u1438 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:319px;
  width:113px;
  height:40px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:18px;
}
#u1439 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:73px;
  word-wrap:break-word;
}
#u1440 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1441_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u1441 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:313px;
  width:477px;
  height:53px;
  font-size:16px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u1442 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:16px;
  width:457px;
  word-wrap:break-word;
}
#u1443 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1444_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u1444 {
  border-width:0px;
  position:absolute;
  left:1027px;
  top:328px;
  width:23px;
  height:22px;
  opacity:0.43;
  font-size:16px;
}
#u1445 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1446_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u1446 {
  border-width:0px;
  position:absolute;
  left:1048px;
  top:328px;
  width:20px;
  height:19px;
  opacity:0;
  font-size:8px;
  color:#FFFFFF;
}
#u1447 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  word-wrap:break-word;
}
#u1448_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1448 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:369px;
  width:477px;
  height:20px;
  opacity:0;
  color:#FFFFFF;
}
#u1449 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:473px;
  word-wrap:break-word;
}
#u1450 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1451 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1452_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:24px;
}
#u1452 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:467px;
  width:477px;
  height:53px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:24px;
}
#u1453 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:18px;
  width:441px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1454_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1454 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:523px;
  width:477px;
  height:20px;
  opacity:0;
  color:#FFFFFF;
}
#u1455 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:473px;
  word-wrap:break-word;
}
#u1456_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(16, 141, 233, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:18px;
}
#u1456 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:471px;
  width:113px;
  height:40px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:18px;
}
#u1457 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:73px;
  word-wrap:break-word;
}
#u1458_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:72px;
  background:inherit;
  background-color:rgba(7, 29, 78, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:rgba(204, 204, 204, 0.647058823529412);
  line-height:24px;
}
#u1458 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:912px;
  width:240px;
  height:72px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:rgba(204, 204, 204, 0.647058823529412);
  line-height:24px;
}
#u1459 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:24px;
  width:208px;
  word-wrap:break-word;
}
#u1460 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1461 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1462_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:24px;
}
#u1462 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:543px;
  width:477px;
  height:53px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:24px;
}
#u1463 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:18px;
  width:441px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1464_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1464 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:598px;
  width:477px;
  height:20px;
  opacity:0;
  color:#FFFFFF;
}
#u1465 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:473px;
  word-wrap:break-word;
}
#u1466_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(16, 141, 233, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:18px;
}
#u1466 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:554px;
  width:113px;
  height:40px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:18px;
}
#u1467 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:73px;
  word-wrap:break-word;
}
#u1468 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1469 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1470_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:24px;
}
#u1470 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:619px;
  width:477px;
  height:53px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:24px;
}
#u1471 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:18px;
  width:441px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1472_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1472 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:675px;
  width:477px;
  height:20px;
  opacity:0;
  color:#FFFFFF;
}
#u1473 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:473px;
  word-wrap:break-word;
}
#u1474_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(16, 141, 233, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:18px;
}
#u1474 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:621px;
  width:173px;
  height:40px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:18px;
}
#u1475 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:133px;
  word-wrap:break-word;
}
#u1476_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(16, 141, 233, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:18px;
}
#u1476 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:695px;
  width:173px;
  height:40px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:18px;
}
#u1477 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:133px;
  word-wrap:break-word;
}
#u1478 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1479 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1480_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#213063;
  line-height:22px;
}
#u1480 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:242px;
  width:129px;
  height:18px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#213063;
  line-height:22px;
}
#u1481 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-2px;
  width:109px;
  white-space:nowrap;
}
#u1482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:2px;
}
#u1482 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:251px;
  width:137px;
  height:1px;
  font-size:18px;
}
#u1483 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1484 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1485_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:410;
  font-style:normal;
  font-size:18px;
  color:#213063;
  text-align:center;
  line-height:22px;
}
#u1485 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:242px;
  width:129px;
  height:18px;
  font-family:'Microsoft Tai Le';
  font-weight:410;
  font-style:normal;
  font-size:18px;
  color:#213063;
  text-align:center;
  line-height:22px;
}
#u1486 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-2px;
  width:109px;
  white-space:nowrap;
}
#u1487_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1487 {
  border-width:0px;
  position:absolute;
  left:665px;
  top:240px;
  width:24px;
  height:24px;
  font-size:18px;
  color:#FFFFFF;
  line-height:22px;
}
#u1488 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:1px;
  width:16px;
  word-wrap:break-word;
}
#u1489_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1489 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:246px;
  width:12px;
  height:12px;
  font-size:18px;
  color:#FFFFFF;
}
#u1490 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1491_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1491 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:238px;
  width:24px;
  height:24px;
  font-size:18px;
  color:#FFFFFF;
  line-height:22px;
}
#u1492 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:1px;
  width:16px;
  word-wrap:break-word;
}
#u1493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1493 {
  border-width:0px;
  position:absolute;
  left:961px;
  top:239px;
  width:24px;
  height:24px;
  font-size:18px;
  color:#FFFFFF;
  line-height:22px;
}
#u1494 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:1px;
  width:16px;
  word-wrap:break-word;
}
#u1495_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:2px;
}
#u1495 {
  border-width:0px;
  position:absolute;
  left:817px;
  top:251px;
  width:132px;
  height:1px;
  font-size:18px;
  color:#7AB7E9;
}
#u1496 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1497 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1498_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#7AB7E9;
  text-align:center;
  line-height:22px;
}
#u1498 {
  border-width:0px;
  position:absolute;
  left:985px;
  top:242px;
  width:129px;
  height:18px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#7AB7E9;
  text-align:center;
  line-height:22px;
}
#u1499 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-2px;
  width:109px;
  white-space:nowrap;
}
#u1500_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1500 {
  border-width:0px;
  position:absolute;
  left:949px;
  top:246px;
  width:12px;
  height:12px;
  font-size:18px;
  color:#FFFFFF;
}
#u1501 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:2px;
}
#u1502 {
  border-width:0px;
  position:absolute;
  left:817px;
  top:251px;
  width:132px;
  height:1px;
  font-size:18px;
}
#u1503 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u1504 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:695px;
  width:300px;
  height:170px;
}
#u1505 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
