@import '~antd/es/style/themes/default.less';

.title {
    text-align: center;
    font-size: 24px;
}

.pane {
    padding: 20px;
    height: 200px;
}

.card {
    text-align: center;
    font-size: 12px;
}

.img {
    width: 100%;
}