body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1579px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6829_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1083px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6829 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1083px;
}
#u6830 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:534px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6831 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6832_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1152px;
  height:962px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6832 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:102px;
  width:1152px;
  height:962px;
}
#u6833 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:473px;
  width:1148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6834 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:102px;
  width:32px;
  height:48px;
  overflow:hidden;
}
#u6834_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:48px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6834_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6835 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:1017px;
  width:32px;
  height:48px;
  overflow:hidden;
}
#u6835_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:48px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6835_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6836 {
  border-width:0px;
  position:absolute;
  left:1264px;
  top:1017px;
  width:32px;
  height:48px;
  overflow:hidden;
}
#u6836_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:48px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6836_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6837 {
  border-width:0px;
  position:absolute;
  left:1264px;
  top:102px;
  width:32px;
  height:48px;
  overflow:hidden;
}
#u6837_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:48px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6837_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6838 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6839 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6840_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:80px;
  background:inherit;
  background-color:rgba(6, 25, 68, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(7, 29, 78, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6840 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:80px;
}
#u6841 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6842 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6843_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:80px;
  background:inherit;
  background-color:rgba(6, 25, 68, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u6843 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:0px;
  width:121px;
  height:80px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u6844 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:30px;
  width:65px;
  white-space:nowrap;
}
#u6845_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:80px;
  background:inherit;
  background-color:rgba(6, 25, 68, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.647058823529412);
}
#u6845 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:0px;
  width:121px;
  height:80px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.647058823529412);
}
#u6846 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:30px;
  width:65px;
  white-space:nowrap;
}
#u6847_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:80px;
  background:inherit;
  background-color:rgba(6, 25, 68, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.647058823529412);
}
#u6847 {
  border-width:0px;
  position:absolute;
  left:682px;
  top:0px;
  width:121px;
  height:80px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.647058823529412);
}
#u6848 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:30px;
  width:65px;
  white-space:nowrap;
}
#u6849_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:80px;
  background:inherit;
  background-color:rgba(6, 25, 68, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u6849 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:0px;
  width:89px;
  height:80px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u6849_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:80px;
  background:inherit;
  background-color:rgba(6, 25, 68, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u6849.mouseOver {
}
#u6850 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:30px;
  width:33px;
  white-space:nowrap;
}
#u6851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:53px;
}
#u6851 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:14px;
  width:274px;
  height:53px;
}
#u6852 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:270px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6853 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6854 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6855_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:80px;
  background:inherit;
  background-color:rgba(6, 25, 68, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u6855 {
  border-width:0px;
  position:absolute;
  left:1314px;
  top:0px;
  width:64px;
  height:80px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u6856 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:60px;
  word-wrap:break-word;
}
#u6857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u6857 {
  border-width:0px;
  position:absolute;
  left:1260px;
  top:20px;
  width:40px;
  height:40px;
}
#u6858 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6859_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:122px;
  background:inherit;
  background-color:rgba(6, 25, 68, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6859 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1083px;
  width:1440px;
  height:122px;
}
#u6860 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:53px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6861 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6862 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6863 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6864 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6865_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(204, 204, 204, 0.647058823529412);
  text-align:center;
  line-height:21px;
}
#u6865 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:1157px;
  width:265px;
  height:29px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(204, 204, 204, 0.647058823529412);
  text-align:center;
  line-height:21px;
}
#u6866 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:261px;
  word-wrap:break-word;
}
#u6867_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'anticon Bold', 'anticon';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:rgba(204, 204, 204, 0.647058823529412);
  text-align:center;
}
#u6867 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:1170px;
  width:15px;
  height:18px;
  font-family:'anticon Bold', 'anticon';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:rgba(204, 204, 204, 0.647058823529412);
  text-align:center;
}
#u6868 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u6869_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(204, 204, 204, 0.647058823529412);
  text-align:center;
  line-height:21px;
}
#u6869 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:1128px;
  width:265px;
  height:29px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(204, 204, 204, 0.647058823529412);
  text-align:center;
  line-height:21px;
}
#u6870 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:261px;
  word-wrap:break-word;
}
#u6871_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(204, 204, 204, 0.647058823529412);
  text-align:center;
  line-height:21px;
}
#u6871 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:1099px;
  width:265px;
  height:29px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(204, 204, 204, 0.647058823529412);
  text-align:center;
  line-height:21px;
}
#u6872 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:261px;
  word-wrap:break-word;
}
#u6873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u6873 {
  border-width:0px;
  position:absolute;
  left:1379px;
  top:110px;
  width:200px;
  height:100px;
  font-size:14px;
  color:#FF3399;
}
#u6874 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:196px;
  word-wrap:break-word;
}
#u6875 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6876_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:180px;
}
#u6876 {
  border-width:0px;
  position:absolute;
  left:1251px;
  top:70px;
  width:120px;
  height:180px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:right;
}
#u6877 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:82px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6878 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
}
#u6879 {
  border-width:0px;
  position:absolute;
  left:1251px;
  top:70px;
  width:120px;
  height:60px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:right;
}
#u6880 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:116px;
  word-wrap:break-word;
}
#u6881_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:60px;
  background:inherit;
  background-color:rgba(122, 183, 233, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(6, 25, 68, 1);
  border-left:0px;
  border-right:0px;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:right;
}
#u6881 {
  border-width:0px;
  position:absolute;
  left:1253px;
  top:130px;
  width:116px;
  height:60px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:right;
}
#u6882 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:112px;
  word-wrap:break-word;
}
#u6883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
}
#u6883 {
  border-width:0px;
  position:absolute;
  left:1251px;
  top:190px;
  width:120px;
  height:60px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:right;
}
#u6884 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:116px;
  word-wrap:break-word;
}
#u6885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u6885 {
  border-width:0px;
  position:absolute;
  left:1259px;
  top:205px;
  width:28px;
  height:30px;
  font-family:'anticon Bold', 'anticon';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u6886 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:28px;
  word-wrap:break-word;
}
#u6887_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'anticon Bold', 'anticon';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u6887 {
  border-width:0px;
  position:absolute;
  left:1259px;
  top:145px;
  width:28px;
  height:30px;
  font-family:'anticon Bold', 'anticon';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u6888 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:28px;
  word-wrap:break-word;
}
#u6889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
}
#u6889 {
  border-width:0px;
  position:absolute;
  left:1265px;
  top:79px;
  width:15px;
  height:19px;
  font-family:'anticon Bold', 'anticon';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6890 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u6891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u6891 {
  border-width:0px;
  position:absolute;
  left:1265px;
  top:104px;
  width:15px;
  height:17px;
  font-family:'anticon Bold', 'anticon';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6892 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:15px;
  word-wrap:break-word;
}
#u6893_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(16, 141, 233, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:24px;
}
#u6893 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:173px;
  width:232px;
  height:46px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:24px;
}
#u6894 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:192px;
  word-wrap:break-word;
}
#u6895_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:68px;
  background:inherit;
  background-color:rgba(7, 29, 78, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:rgba(204, 204, 204, 0.647058823529412);
  line-height:24px;
}
#u6895 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:939px;
  width:230px;
  height:68px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:rgba(204, 204, 204, 0.647058823529412);
  line-height:24px;
}
#u6896 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:22px;
  width:198px;
  word-wrap:break-word;
}
#u6897 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6898 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6899 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6900 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6901_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:left;
  line-height:22px;
}
#u6901 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:783px;
  width:533px;
  height:80px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:left;
  line-height:22px;
}
#u6902 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:5px;
  width:521px;
  word-wrap:break-word;
}
#u6903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:5px;
}
#u6903 {
  border-width:0px;
  position:absolute;
  left:994px;
  top:851px;
  width:13px;
  height:5px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u6904 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6905_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:rgba(51, 51, 51, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u6905 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:783px;
  width:55px;
  height:35px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:rgba(51, 51, 51, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u6906 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:55px;
  white-space:nowrap;
}
#u6907_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:22px;
}
#u6907 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:848px;
  width:533px;
  height:22px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:22px;
}
#u6908 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  word-wrap:break-word;
}
#u6909 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6910_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:rgba(51, 51, 51, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u6910 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:711px;
  width:55px;
  height:35px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:rgba(51, 51, 51, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u6911 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:55px;
  white-space:nowrap;
}
#u6912_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u6912 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:711px;
  width:533px;
  height:40px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u6913 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:9px;
  width:521px;
  word-wrap:break-word;
}
#u6914_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:22px;
}
#u6914 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:740px;
  width:533px;
  height:22px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:22px;
}
#u6915 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  word-wrap:break-word;
}
#u6916 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6917 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6918_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:302px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:left;
  line-height:22px;
}
#u6918 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:365px;
  width:600px;
  height:302px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:left;
  line-height:22px;
}
#u6919 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:5px;
  width:588px;
  word-wrap:break-word;
}
#u6920_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:101px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:22px;
}
#u6920 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:667px;
  width:600px;
  height:101px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:22px;
}
#u6921 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  word-wrap:break-word;
}
#u6922_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u6922 {
  border-width:0px;
  position:absolute;
  left:1092px;
  top:328px;
  width:200px;
  height:100px;
  font-size:14px;
  color:#FF3399;
}
#u6923 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:196px;
  word-wrap:break-word;
}
#u6924 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6925_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(33, 48, 99, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#213063;
  line-height:24px;
}
#u6925 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:275px;
  width:232px;
  height:46px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#213063;
  line-height:24px;
}
#u6926 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:192px;
  word-wrap:break-word;
}
#u6927_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#5E5E5E;
  line-height:24px;
}
#u6927 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:275px;
  width:232px;
  height:46px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#5E5E5E;
  line-height:24px;
}
#u6928 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u6929_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:302px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0588235294117647);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6929 {
  border-width:0px;
  position:absolute;
  left:997px;
  top:365px;
  width:18px;
  height:302px;
}
#u6930 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:143px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
