body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1592px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1083px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u654 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1083px;
}
#u655 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:534px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u656 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u657_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1152px;
  height:962px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u657 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:102px;
  width:1152px;
  height:962px;
}
#u658 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:473px;
  width:1148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u659 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:102px;
  width:32px;
  height:48px;
  overflow:hidden;
}
#u659_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:48px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u659_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u660 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:1017px;
  width:32px;
  height:48px;
  overflow:hidden;
}
#u660_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:48px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u660_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u661 {
  border-width:0px;
  position:absolute;
  left:1264px;
  top:1017px;
  width:32px;
  height:48px;
  overflow:hidden;
}
#u661_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:48px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u661_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u662 {
  border-width:0px;
  position:absolute;
  left:1264px;
  top:102px;
  width:32px;
  height:48px;
  overflow:hidden;
}
#u662_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:48px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u662_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u663 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u664 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u665_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:80px;
  background:inherit;
  background-color:rgba(6, 25, 68, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(7, 29, 78, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u665 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:80px;
}
#u666 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u667 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u668_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:80px;
  background:inherit;
  background-color:rgba(6, 25, 68, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u668 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:0px;
  width:121px;
  height:80px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u669 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:30px;
  width:65px;
  white-space:nowrap;
}
#u670_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:80px;
  background:inherit;
  background-color:rgba(6, 25, 68, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u670 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:0px;
  width:89px;
  height:80px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u670_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:80px;
  background:inherit;
  background-color:rgba(6, 25, 68, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u670.mouseOver {
}
#u671 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:30px;
  width:33px;
  white-space:nowrap;
}
#u672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:53px;
}
#u672 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:14px;
  width:274px;
  height:53px;
}
#u673 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:270px;
  visibility:hidden;
  word-wrap:break-word;
}
#u674 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u675 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u676_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:80px;
  background:inherit;
  background-color:rgba(6, 25, 68, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u676 {
  border-width:0px;
  position:absolute;
  left:1314px;
  top:0px;
  width:64px;
  height:80px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u677 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:60px;
  word-wrap:break-word;
}
#u678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u678 {
  border-width:0px;
  position:absolute;
  left:1260px;
  top:20px;
  width:40px;
  height:40px;
}
#u679 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:122px;
  background:inherit;
  background-color:rgba(6, 25, 68, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u680 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1083px;
  width:1440px;
  height:122px;
}
#u681 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:53px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u682 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u683 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u684 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u685 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u686_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(204, 204, 204, 0.647058823529412);
  text-align:center;
  line-height:21px;
}
#u686 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:1157px;
  width:265px;
  height:29px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(204, 204, 204, 0.647058823529412);
  text-align:center;
  line-height:21px;
}
#u687 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:261px;
  word-wrap:break-word;
}
#u688_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'anticon Bold', 'anticon';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:rgba(204, 204, 204, 0.647058823529412);
  text-align:center;
}
#u688 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:1170px;
  width:15px;
  height:18px;
  font-family:'anticon Bold', 'anticon';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:rgba(204, 204, 204, 0.647058823529412);
  text-align:center;
}
#u689 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u690_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(204, 204, 204, 0.647058823529412);
  text-align:center;
  line-height:21px;
}
#u690 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:1128px;
  width:265px;
  height:29px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(204, 204, 204, 0.647058823529412);
  text-align:center;
  line-height:21px;
}
#u691 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:261px;
  word-wrap:break-word;
}
#u692_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(204, 204, 204, 0.647058823529412);
  text-align:center;
  line-height:21px;
}
#u692 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:1099px;
  width:265px;
  height:29px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(204, 204, 204, 0.647058823529412);
  text-align:center;
  line-height:21px;
}
#u693 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:261px;
  word-wrap:break-word;
}
#u694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u694 {
  border-width:0px;
  position:absolute;
  left:1392px;
  top:110px;
  width:200px;
  height:100px;
  font-size:14px;
  color:#FF3399;
}
#u695 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:196px;
  word-wrap:break-word;
}
#u696 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:180px;
}
#u697 {
  border-width:0px;
  position:absolute;
  left:1251px;
  top:70px;
  width:120px;
  height:180px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:right;
}
#u698 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:82px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u699 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
}
#u700 {
  border-width:0px;
  position:absolute;
  left:1251px;
  top:70px;
  width:120px;
  height:60px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:right;
}
#u701 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:116px;
  word-wrap:break-word;
}
#u702_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:60px;
  background:inherit;
  background-color:rgba(122, 183, 233, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(6, 25, 68, 1);
  border-left:0px;
  border-right:0px;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:right;
}
#u702 {
  border-width:0px;
  position:absolute;
  left:1253px;
  top:130px;
  width:116px;
  height:60px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:right;
}
#u703 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:112px;
  word-wrap:break-word;
}
#u704_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
}
#u704 {
  border-width:0px;
  position:absolute;
  left:1251px;
  top:190px;
  width:120px;
  height:60px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:right;
}
#u705 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:116px;
  word-wrap:break-word;
}
#u706_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u706 {
  border-width:0px;
  position:absolute;
  left:1259px;
  top:205px;
  width:28px;
  height:30px;
  font-family:'anticon Bold', 'anticon';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u707 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:28px;
  word-wrap:break-word;
}
#u708_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'anticon Bold', 'anticon';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u708 {
  border-width:0px;
  position:absolute;
  left:1259px;
  top:145px;
  width:28px;
  height:30px;
  font-family:'anticon Bold', 'anticon';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u709 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:28px;
  word-wrap:break-word;
}
#u710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
}
#u710 {
  border-width:0px;
  position:absolute;
  left:1265px;
  top:79px;
  width:15px;
  height:19px;
  font-family:'anticon Bold', 'anticon';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u711 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u712 {
  border-width:0px;
  position:absolute;
  left:1265px;
  top:104px;
  width:15px;
  height:17px;
  font-family:'anticon Bold', 'anticon';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u713 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:15px;
  word-wrap:break-word;
}
#u714_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:80px;
  background:inherit;
  background-color:rgba(6, 25, 68, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.647058823529412);
}
#u714 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:0px;
  width:121px;
  height:80px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.647058823529412);
}
#u715 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:30px;
  width:65px;
  white-space:nowrap;
}
#u716 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u717_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(16, 141, 233, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:24px;
}
#u717 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:270px;
  width:232px;
  height:46px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:24px;
}
#u718 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:192px;
  word-wrap:break-word;
}
#u719 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u720 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u721_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:24px;
}
#u721 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:351px;
  width:477px;
  height:54px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:24px;
}
#u722 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:19px;
  width:441px;
  visibility:hidden;
  word-wrap:break-word;
}
#u723_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u723 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:404px;
  width:477px;
  height:32px;
  opacity:0;
  color:#FFFFFF;
}
#u724 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:473px;
  word-wrap:break-word;
}
#u725 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u726_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:24px;
}
#u726 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:436px;
  width:476px;
  height:54px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:24px;
}
#u727 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:19px;
  width:440px;
  visibility:hidden;
  word-wrap:break-word;
}
#u728_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u728 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:487px;
  width:477px;
  height:32px;
  opacity:0;
  color:#FFFFFF;
}
#u729 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:473px;
  word-wrap:break-word;
}
#u730_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u730 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:573px;
  width:477px;
  height:32px;
  opacity:0;
  color:#FFFFFF;
}
#u731 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:473px;
  word-wrap:break-word;
}
#u732_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:24px;
}
#u732 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:605px;
  width:476px;
  height:54px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:24px;
}
#u733 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:19px;
  width:440px;
  visibility:hidden;
  word-wrap:break-word;
}
#u734_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u734 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:656px;
  width:477px;
  height:32px;
  opacity:0;
  color:#FFFFFF;
}
#u735 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:473px;
  word-wrap:break-word;
}
#u736_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(16, 141, 233, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:18px;
}
#u736 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:360px;
  width:113px;
  height:40px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:18px;
}
#u737 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:73px;
  word-wrap:break-word;
}
#u738_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(16, 141, 233, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:18px;
}
#u738 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:443px;
  width:113px;
  height:40px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:18px;
}
#u739 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:73px;
  word-wrap:break-word;
}
#u740_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(16, 141, 233, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:18px;
}
#u740 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:526px;
  width:113px;
  height:40px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:18px;
}
#u741 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:73px;
  word-wrap:break-word;
}
#u742 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u743_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:24px;
}
#u743 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:519px;
  width:340px;
  height:54px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:24px;
}
#u744 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:19px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u745_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:54px;
  background:inherit;
  background-color:rgba(7, 29, 78, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(204, 204, 204, 0.647058823529412);
  line-height:24px;
}
#u745 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:519px;
  width:128px;
  height:54px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(204, 204, 204, 0.647058823529412);
  line-height:24px;
}
#u746 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u747 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u748_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:24px;
}
#u748 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:688px;
  width:476px;
  height:54px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:24px;
}
#u749 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:19px;
  width:440px;
  visibility:hidden;
  word-wrap:break-word;
}
#u750_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u750 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:739px;
  width:477px;
  height:32px;
  opacity:0;
  color:#FFFFFF;
}
#u751 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:473px;
  word-wrap:break-word;
}
#u752_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(16, 141, 233, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:18px;
}
#u752 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:612px;
  width:113px;
  height:40px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:18px;
}
#u753 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:73px;
  word-wrap:break-word;
}
#u754_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(16, 141, 233, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:18px;
}
#u754 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:695px;
  width:128px;
  height:40px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:18px;
}
#u755 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:88px;
  word-wrap:break-word;
}
#u756_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:68px;
  background:inherit;
  background-color:rgba(7, 29, 78, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:rgba(204, 204, 204, 0.647058823529412);
  line-height:24px;
}
#u756 {
  border-width:0px;
  position:absolute;
  left:641px;
  top:797px;
  width:192px;
  height:68px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:rgba(204, 204, 204, 0.647058823529412);
  line-height:24px;
}
#u757 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:22px;
  width:160px;
  word-wrap:break-word;
}
